*.exe
*.backup
*.tfplan
*.tfstate
*.hcl
*.info
*.info
*.zip
*.json
/terraform/
/Media Files/
/Old Files/
*.msi
*.tf
*.xml
*.key
*.csv
ClientVariables-Dan.ps1
ClientVariables-Wella.ps1
PackagingFactoryConfig-main/Build-VM.ps1
